@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,900');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f4f5f7;
	color:#0A141D;
	font-size: 16px; /*1em = 16px*/
	font-family: 'Roboto', sans-serif;
}

nav {
	text-align: center;
	text-transform: uppercase;
	line-height: 1em;
	
}

header {
	height: 4em;
	background: #14a098;
}

header *{
	display: inline-block;
	vertical-align: middle;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	clear: both;
}

h3 {
	text-align: center;
	margin-top: 1em;
}

p {
	font-size: 1em;
	margin: auto;
	padding: 1em 0;
}

 nav a {
	text-decoration: none;
	padding: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
}

nav a:hover {
    background-color: #cb2d6f;
}

article a {
	color: #14a098;
	text-decoration: none;
}

 article a:hover {
 	color: #cb2d6f; 
 }

img
{
	width: 100%;
	max-width: 1200px;
}

nav img {
	vertical-align: middle;
}

hr {
	margin: 1em 0;
}
footer {
	height: 4em;
	background: #14a098;
}

article {
	width: 33.3%;
	float:left;
	padding: 1.5%
}

/*input {
	width: 80%;
	margin: 1em;
}

form p {
	text-align: center;
}*/
.container{
	max-width: 1200px; 
	margin: auto;
}

/*.container *{
	float: left;
	padding: 2em;
}*/

.secondary-posts {
	max-width: 1200px;
	margin: auto;
}

.intro {
  	background: linear-gradient(to top, rgba(20,160,152, 0.1), rgba(20,160,152, 0.6)), url(../images/cover-photo.jpg);
	background-size: cover;
	height: 800px;
	color: white;
}

/*#main-post{
	background: red;
	width: 63.33%;
}

#main-post img p{
	float: left;
}*/

aside{
	background: red;
	/*float: right;*/
	width: 33.3%;
	}


.clearfix:after {
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
	
}

.social-media {
	width: 30px;
	height: auto;

}

#sign-up{
	width: 33.33%;
}

#logo{
	padding: 0;
	margin: 0;
	float: left;
	height: 4em;
	width: auto;
}

#search-bar{
	float: right;
	color: #ffffff;
	line-height: 4em;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 2em;
}

