@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500i|Oswald:500,700');


* {
	padding: 0;
	margin: 0;
}

body {
	background: #f4f5f7;
	color:#0A141D;
	font-size: 16px; /*1em = 16px*/
	font-family: 'EB Garamond', serif;
	
}

header {
	background: url(../images/marketer-analyzing-campaign.jpg);
	background-size: cover;
    height: 800px;
    margin:auto;
	
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
}
h3 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: 1em;
}

p {
	font-size: 1em;
	margin: auto;
}

a {
	color: #a30b6b;
	text-decoration: none;
}

img
{
	width: 100%;
}


nav {
	text-align: center;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
	height: 4em;
}

footer {
	text-align: center;
}

hr {
	margin: 1em;
}




.secondary-posts {
	margin: auto;
	width: 30em;
}

#main-post
{
	margin: auto;
	width: 30em;
}
#logo{
	padding: 0;
	float: left;
	width: 4em;
}


#search-bar{
	float: right;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 2em;
}

